<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (locals.users) {%>
        <% users.forEach(user => { %>
          <li>
            ID: <%= user.id %> <br>
            Name: <%= user.name %> <br>
            Email: <%= user.email %> <br>
            Age: <%= user.age %> <br>
            Bio: <%= user.bio %>
            <a href="/<%= user.id %>/update">Update</a>
          </li>
        <% }); %>
      <% } %>
    </ul>
    <a href="/create">Create a user</a>
  </body>
</html>
